{% extends 'base.html' %}
{% block title %}
	About us
{% endblock %}
{% block content %}
	<img src="../../../static/people-chatting.jpg" class="w-100 img-fluid rounded">
      <h2 class="text-info mt-2">Welcome to Your <span class="badge bg-info">Chat Room</span></h2>
      <blockquote class="blockquote">
      <p class="text-info">This platform is designed to connect individuals through real-time conversations on various topics. As the sole developer, my goal is to create a welcoming and inclusive community where everyone can express themselves freely. I believe in the power of connection and strive to provide a user-friendly experience. Your feedback is invaluable as we grow together. Join us in building a vibrant space for meaningful interactions. Thank you for being a part of Your Chat Room!</p>
    </blockquote>
    <div class="d-flex justify-content-around">
      <a href="https://t.me/H_MONJEZY83"><i class="bi bi-telegram fs-2 text-info"></i></a>
      <a href="https://www.instagram.com/h.monjezy83?igsh=bDY0c2R2MGxucGNt"><i class="bi bi-instagram fs-2 text-info"></i></a>
      <a href="mailto:HOSEINMONJEZY1383@gmail.com"><i class="bi bi-google fs-2 text-info"></i></a>
      <a href="https://github.com/HOSEINMONJEZY83"><i class="bi bi-github fs-2 text-info"></i></a>
    </div>
{% endblock %}