{% extends 'base.html' %}

{% block title %}
	Change password
{% endblock %}

{% block content %}
	<form class="form-group" method="post" action="{% url 'changepassword' %}" id="changepassword">
    {% csrf_token %}
        <h3 class="text-info">Change password form</h3>
        <div class="form-group mt-4">
            {{ form.current_password }}
        </div>
        <div class="form-group mt-4">
          {{ form.password }}
        </div>
        <div class="form-group mt-4">
            {{ form.confirm_password }}
        </div>
        <div class="form-group mt-4">
          <button type="button" class="form-control btn btn-outline-info" onclick="changepassword()">Submit</button>
        </div>
      </form>
{% endblock %}

